#black{
    background-color:black;
}
#purple{
    background-color: purple;
}
#blue{
    background-color: blue;
}
#green {
    background-color: green;
}
.selected{
    border: 1px solid black;
    display: inline-block;
    padding-left: 40px;
    padding-top: 40px;
    background-color: red;
}
.color{
    border: 1px solid black;
    display: inline-block;
    padding-left: 40px;
    padding-top: 40px;
}
#pixel-board{
    width: 240px;
    height: 235px;
    border: 1px solid black;
    text-align: center;
    padding-top: 10px;
}
.pixel, .white{
   
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: white;
}
