#black{
    background-color:black;
}
#purple{
    background-color: purple;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
.color{
    border: 1px solid black;
    display: inline-block;
    padding-left: 100px;
    padding-top: 100px;
}
